body {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: rgb(235, 121, 178);
    overflow: hidden;
}

h1 {
    padding-top: 30px;
    font-size: 50px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1.2;
}

p {
    padding-top: 20px;
    font-size: 1rem;
    letter-spacing: 0.2em;
    font-weight: 200;
}
